@tailwind base;
@tailwind components;
@tailwind utilities;

.easy-button {
  padding: 8px 16px;
  background-color: blue;
  color: white;
  border-radius: 4px;
  font: bold;
  margin-left: 40px;
}

.easy-button:hover {
  background-color: #2d29a1;
}

.button {
  @apply text-white font-bold bg-red-500 py-2 px-4 rounded m-10;
}
.button:hover {
  @apply text-gray-500 font-bold bg-blue-400 py-2 px-4 rounded m-10;
}

.btn {
  @apply font-bold py-2 px-4 rounded ml-10;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-600 text-gray-500;
}

.secondary-title {
  @apply text-3xl font-bold;
}

.secondary-title::before {
  content: "";
  @apply block w-12 h-2 bg-theme rounded-full mb-1;
}

.section-paragraph {
  @apply text-secondary my-6 w-full max-w-3xl;
}

.badge {
  @apply px-4 py-2 text-sm bg-badge;
}
